/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#generate {
	color: white;
}
.results textarea {
	line-height: 24px;
	height: 250px !important;
	overflow-y: auto;
	display: none;
}